*{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;
}

*::before, *::after{
padding: 0;
margin: 0;
}

:root{
    --white: #ffffff;
    --grey: #726e6e;
    --black: #000000;
}

body{
    background: var(--black);
    color: var(--white);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../energetic/energetic_pic/main-back.gif");
}

.soundwrapper{
    width: 18em;
    padding: 0.5em 1em;
    overflow: hidden;
    position: absolute;
    background: transparent;
    top: 5em;
}

.soundwrapper i{
cursor: pointer;
}

/* -------------------------------------- */
.btnthunder {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 1.4em;
    height: 1.4em;
    margin-right: 0.5em;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    background-image: url("../energetic/energetic_pic/thunder.png");
    background-size: cover;
    background-color: transparent;
    border: 0px;
    transition: transform .2s;
}

.btnthunder:hover {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.4em;
    background-image: url("../energetic/energetic_pic/thunder.png");
    background-size: cover;
    background-color: transparent;
    border: 0px;
    transition: transform .2s;
    transform: scale(1.1);
}


.thunder-details{
    text-align: left;
    margin: 0.5em 0 0.3em;
    justify-content: left;
}

.thunder-details p{
color: var(--white);
}
.thunder-details .thunder-name{
font-size: 1em;
}

.thundercontrols{
    margin: 1.1em 0 0;
    margin-left: 0.8em;
}
.thundercontrols i{
    user-select: none;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.thundercontrols i:nth-child(1){
    font-size: 1.29em;
}

.thundercontrols .thunder-play-pause{
    height: 0;
    width: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(253, 253, 253);
}

.thunder-play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: transparent;
}

.thunder-play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}


.thundercenter{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 0.5em;
}

/* ------------------- */

.thunderbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;

}

.thundervolumepic{
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    height: 0.8em;
    margin-right: 0.5em;
    margin-left: 0.8em;
}

.thunder-volume-slider-con{
    height:0.18em;
    width:100%;
    position:relative;
    background-color:rgba(255, 255, 255, 0.767);
    border-radius: 1em;
    cursor: pointer;
    z-index: 99;
}
    
.thunder-volume-slider{
    position:relative;
    background-color:red;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    cursor: pointer;
}

/* -------------------------- */

/* .soundbar {
    height: 40%;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .soundbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .soundbar a:hover {
    color: #f1f1f1;
  }
  
  .soundbar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin-right: 0;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  
  @media screen and (max-height: 450px) {
    .soundbar {padding-top: 15px;}
    .soundbar a {font-size: 18px;}
  } */

